POSTGRES_USER=queue_service
POSTGRES_PASSWORD=queue_service
POSTGRES_DB=queue_service
POSTGRES_PORT=5432

REDIS_ADDR=redis:6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_POOL_SIZE=100
REDIS_DIAL_TIMEOUT=5s

APP_PORT=8080
