.PaymentButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.PaymentButton__timer {
  font-size: 180px;
  font-weight: 700;
  line-height: 1;
}
