@import url(./variables.css);

:root {
  font-family: var(--f-family);
}

body {
  min-width: 320px;
  margin: 0;
  color: var(--ink);
}

* {
  box-sizing: border-box;
}

button,
input {
  font: inherit;
}

dl {
  margin: 0;
}

p {
  margin: 0;
}
